body {
  background-color: #110133;
  color: #110133;
  margin: 0;
  text-align: center;
}

h1 {
  color: #4dd599;
  font-size: 5.625rem;
  font-family: "Cormorant", serif;
  margin: 50px auto 0 auto;
}

h2 {
  color: #4dd599;
  font-family: "Roboto", sans-serif;
  font-size: 2.5rem;
  font-weight: normal;
  padding-bottom: 10px;
}

h3 {
  color: #4dd599;
  font-family: "Roboto", sans-serif;
}

p {
  color: #a6f0c6;
  font-family: "Roboto", serif;
  line-height: 2;
}

hr {
  border: dotted #4dd599;
  margin: 100px auto;
}

a {
  color: #4dd599;
  font-family: "Roboto", sans-serif;
  margin: 10px 20px;
  text-decoration: none;
}

a:hover {
  color: #eaf6f6;
}

.top-container {
  background-color: #110133;
  position: relative;
  padding-top: 100px;
}

.middle-container {
  background-color: #110133;
  margin: 100px 0;
}

.bottom-container {
  background-color: #110133;
  padding: 50px 0 20px;
}

.skill-row {
  width: 50%;
  margin: 100px auto 100px auto;
  text-align: left;
}

.intro {
  width: 30%;
  margin: auto;
}

.contact-message {
  width: 40%;
  margin: 40px auto 60px;
}

.copyright {
  color: #eaf6f6;
  font-size: 0.85 rem;
  padding: 20px 0;
}

.programming-img {
  width: 20%;
  float: left;
  margin-right: 30px;
}

.ps4-img {
  width: 20%;
  float: right;
  margin-left: 30px;
}

.btn {
  background: #11cdd4;
  background-image: -webkit-linear-gradient(top, #11cdd4, #11999e);
  background-image: -moz-linear-gradient(top, #11cdd4, #11999e);
  background-image: -ms-linear-gradient(top, #11cdd4, #11999e);
  background-image: -o-linear-gradient(top, #11cdd4, #11999e);
  background-image: linear-gradient(to bottom, #11cdd4, #11999e);
  -webkit-border-radius: 8;
  -moz-border-radius: 8;
  border-radius: 8px;
  font-family: "Roboto", sans-serif;
  color: #ffffff;
  font-size: 20px;
  padding: 10px 20px 10px 20px;
  text-decoration: none;
}

.btn:hover {
  background: #4dd599;
  background-image: -webkit-linear-gradient(top, #4dd599, #2bc4ad);
  background-image: -moz-linear-gradient(top, #4dd599, #2bc4ad);
  background-image: -ms-linear-gradient(top, #4dd599, #2bc4ad);
  background-image: -o-linear-gradient(top, #4dd599, #2bc4ad);
  background-image: linear-gradient(to bottom, #4dd599, #2bc4ad);
  text-decoration: none;
}
