<%- include("header") -%>
<h2 class="box" id="heading-small">Welcome to the ToDo List!</h2>
<p class="box" id="about-paragraph">
  This is a ToDo List webapp made by Kunal Ram Haryani.
</p>
<%- include("footer") -%>
